body {
  font-family: 'Montserrat', sans-serif;
}


.container {
  display: flex;
  margin: 0 0 0 -11%; 
  transition: 500ms;
  height: 100vh;

}

#menu-space {
  flex-grow: 1;
  background: linear-gradient(darkblue, rgb(45, 0, 128));
  height: auto;
  

}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.nav-button-menu {
  color:gray;
  flex-direction: column;
  padding: 15px;
  font-size: 1vw;
  font-weight: bold;
  transition: 500ms;
  text-decoration: none;
}

.nav-button-menu:hover {
  color: white;

}


#open-close {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  

}
.nav-button {
  font-weight: bold;
  font-size: 1em;
  color: rgb(212, 211, 211);
  transition: 400ms;
  text-decoration: none;
  display: table;
  padding: 10px 0px 15px 0px;
  margin-left: 15px;
}


.area-busca {
  display: flex;
  
  flex-direction: column;
}
.barra-pesquisa {
  width: 150px;
  border-radius: 15px;
  height: 25px;
  margin-top: 25px;
  font-family: 'Montserrat' sans-serif;
  font-size: 0.7vw;
  font-weight: bold;
}

.barra-pesquisa-busca {
  width: 60px;
  height: 25px;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 10px;
}

.write {
  margin: 10px auto;

}

.tweet {
  background: darkblue;
  font-size: 1vw;
  text-decoration: none;
  border: none;
  color: white;
  width: 400px;
  height: 35px;
  resize: none;
}

/* VERIFICAÇÃO DO TAMANHO DO TWEET (CLASSES) */

.shortTweet {
  color: darkgreen;
}

.mediumTweet {
  color: orange;
}

.invalidTweet {
  color: red;
}


/* ######################################### */

.letter-number {
  margin: 0 8px;
  width: 2px;
}
.sendTweet {
  background: darkblue;
  color: white;
  
}
#feed-space {
  flex-grow: 10;
  background: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.post {
  display: flex;
  margin: 10px 0;
  border: gray solid 5px;
  width: 45vw;
  box-shadow: black 5px;
  height: 20vh;
}
.post h2 {
  word-break: break-word;
  padding: 10px 20px;
  width: 70%;
}

.profile-pic {
  position: right;
  height: 100%;
  width: 30%;
}
