body {
  font-family: 'Montserrat', sans-serif;
}


.container {
  display: flex;
  margin: 0 0 0 -11%; 
  transition: 500ms;

}

#menu-space {
  flex-grow: 1;
  background: linear-gradient(darkblue, rgb(45, 0, 128));
  height: 100vh;
  

}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.nav-button-menu {
  color:gray;
  flex-direction: column;
  padding: 15px;
  font-size: 1vw;
  font-weight: bold;
  transition: 500ms;
  text-decoration: none;
}

.nav-button-menu:hover {
  color: white;

}


#open-close {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  

}
.nav-button {
  font-weight: bold;
  font-size: 1em;
  color: rgb(212, 211, 211);
  transition: 400ms;
  text-decoration: none;
  display: table;
  padding: 10px 0px 15px 0px;
  margin-left: 15px;
}


.area-busca {
  display: flex;
  
  flex-direction: column;
}
.barra-pesquisa {
  width: 150px;
  border-radius: 15px;
  height: 25px;
  margin-top: 25px;
  font-family: 'Montserrat' sans-serif;
  font-size: 0.7vw;
  font-weight: bold;
}

.barra-pesquisa-busca {
  width: 60px;
  height: 25px;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 10px;
}

.write {
  margin: 10px auto;

}

.tweet {
  background: darkblue;
  font-size: 0.85vw;
  text-decoration: none;
  border: none;
  color: white;
  width: 400px;
  height: 35px;
  resize: none;
}

.letter-number {
  margin: 0 8px;
  width: 2px;
}
.sendTweet {
  background: darkblue;
  color: white;
  
}
#feed-space {
  flex-grow: 10;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.posts {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.post {
  margin: 10px 0;
  padding: 50px 100px;
  border: black solid 2px;

}

.profile-pic {
  position: left;

}